<h1>Dodaj zadanie</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form (ngSubmit)="onSubmit()">
            <div class="form-group mt-2">
                <input name="Description" class="form-control" [(ngModel)]="Description" placeholder="np. dodać następne testy jednostkowe" />
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<p class="mt-5">
    <a routerLink="/">Powrót do listy zadań</a>
</p>